// Jade
p Powered by 
     a(href="http://www.nodejs.org/", title="Node.Js") Node.Js 
     <nbsp> and  
     a(href="http://expressjs.com/", title="Express.Js") Express.Js
     <nbsp> and 
     a(href="http://jade-lang.com/", title="Jade View") Jade View Engine 