extends layout
block content
   h2 About Finbar
   a(href="http://blogs.msdn.com/finbar_ryan", title="Work Blog") My Work Blog.
   br
   a(href="http://www.finbarrsweb.com", title="Personal Blog") My Personal Blog.
block sidebar
     h2 Social Media
     p
     a(href="https://twitter.com/FinVamp1", title="My Twitter") Find me on Twitter.
     br 
     a(href="https://www.facebook.com/finbar.ryan", title "My Facebook") Find me on Facebook.
     br
     a(href="http://uk.linkedin.com/pub/finbar-ryan/10/717/b44", title="My LinkedIn") Find me on LinkedIn.

