!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     .container 
       .header
        include header
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    .container
      .footer
        include footer
    
